body {
    color: white;
}

.encabezado {
    background-color: #25316D;
    padding: 30px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.navegacion {
    background-color: #5F6F94 !important;
    color: white !important;
    padding: 20px;
}

.contenedor {
    /* background-color: red; */
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.principal {
    background-color: #97D2EC;
    padding: 30px;
    grid-column: 2/4;
}

.lateralDer {
    background-color: #FEF5AC;
    padding: 30px;
    grid-column: 1/2;
}

.lateralIzq {
    background-color: #FEF5AC;
    padding: 30px;
    grid-column: 4/5;
}

.pie {
    background-color: #25316D;
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.alinear {
    text-align: justify;
}